<!DOCTYPE html>
<html>
<head>
    <title>{{ t["login"] }} - MH YUVANC FINANCE</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>{{ t["login"] }}</h2>
    <form action="/login" method="post">
        <label for="username">Kullanıcı Adı:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Şifre:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="{{ t['login'] }}">
    </form>
    <br>
    <a href="/register">{{ t["register"] }}</a>
    <br><br>
    <a href="/lang?set=tr">🇹🇷 Türkçe</a> | <a href="/lang?set=en">🇬🇧 English</a>
  <script src="/static/js/alerts.js"></script>
</body>
</html>